{xiao:template header.html}
<body>
    <div class="wrapper">
        {xiao:template head_news.html}
        <div class="pageMain">
            <div id="header">
                <div class="k1120 clearfix"><a href="{xiao:$site_url}" id="logo">logo</a>
                </div>
            </div>
            <div id="news" class="scrol-page">
                <div class="k1120">
                    <h2 class="title"><span>{xiao:$cat[catname]}</span></h2>
                    <h5 class="infoText">您可以通过以下新闻与公司动态进一步了解我们。我们所签约的客户，无论他们的项目是大或者是小，我们都将提供100%的服务
</h5>
                    <div class="newsList">
                        <ul class="clearfix">
                            {xiao:list catid=4 order=time pagesize=6 page=$page}
                            <li>
                                <div class="newsListBox">
                                    <h4><a href="{xiao:$xiao['url']}" target="_blank">{xiao:$xiao['title']}</a></h4>
                                    <p class="newsViewText">{xiao:function.strcut($xiao[description],70,'')}...</p>
                                    <p class="newsViewFoot"><a href="{xiao:$xiao['url']}" target="_blank" class="newsListView">查看详情</a>
                                    </p>
                                </div>
                            </li>
                            {/xiao:list}
                        </ul>
                        {xiao:$pagelist}
                    </div>
                </div>
            </div>
        </div>
        {xiao:template footer.html}
    </div>
</body>
</html>