<link rel="stylesheet" href="{xiao:$site_template}statics/css/pagecss.css"/>
<div class="mainbody">
    <div class="w210 fl">

    </div>
    <div class="w740 fr">
        <div class="nei_main_right">
            <div class="nmr_title">
                <div class="nmr_title_text">
                    您当前位置：<a  href="{xiao:$site_url}">首页</a> >> {xiao:function.position($catid, ' &gt;&gt;&nbsp;&nbsp;')}
                </div>
            </div>
            <div class="nmr_con">
                <div class="nmr_con_title" style="margin-top:10px;">
                    {xiao:$cat[catname]}
                </div>
                <div class="content_news_m">
                    <div class="content_con_news_con" style="margin-top:20px;">
                        <ul>
                            {xiao:list catid=$catid page=$page}
                            <li>
                                <div class="content_con_news_div">
                                    <div class="content_left">•   <a href="{xiao:$xiao['url']}">{xiao:$xiao['title']}</a> </div>
                                    <div class="content_right">{xiao:function.date("Y-m-d", $xiao['time'])}</div>
                                </div>
                            </li>
                            {/xiao:list}
                        </ul>
                        <div class="listpage" >{xiao:$pagelist}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="blank10 clear"></div>

</div>
